@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}
.scrollbarThin {
  scrollbar-width: thin;
}
.scrollbarHidden {
  scrollbar-width: none !important;
}

/* RegistrationForm.css */
.form-container {
  max-width: 400px;
  margin: auto;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="file"] {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  width: 100%;
  padding: 8px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.error-message {
  color: red;
  text-align: center;
}

.success-message {
  color: green;
  text-align: center;
}



.listItem{
  @apply p-[10px] 
}


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar for a cleaner look */
 }


 section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1A1A1A;
}
button {
  background: transparent;
  border: 1px solid white;
  font-weight: 600;
  padding: 0.15rem 0.3rem;
  border-radius: 3px;
  font-size: 12px;
}
/* .reel__container {
  height: 629.76px;
  width: 354.24px;
  background-size: cover;
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */
.reel__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reel__back-button {
  display: flex;
  align-items: center;
}
.reel__back-button p {
  font-weight: 700;
  font-size: 16px;
}
.icon-tabler-arrow-narrow-left {
  margin-right: 0.5rem
}
.reel__content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.reel__user {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.reel__avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 0.5rem;
}
.reel__username {
  font-weight: 600;
  margin-right: 0.5rem;
}
.icon-tabler-message-circle {
  transform: scaleX(-1);
}
.reel__options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 225px; */
  align-items: center;
}
.reel__audio-cover {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border: 3px solid #FFFFFF;
  border-radius: 7px;
}
.reel__likes {
  font-weight: 600;
  margin-top: -1rem;
  font-size: 11px;
}
.reel__caption {
  margin-bottom: 0.5rem;
}
.reel__audio {
  display: flex;
  align-items: center;
  margin-left: -0.4rem;
}